*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.left {
    float: left;
}

/* main */
main {
    width: 100%;
    height: calc(100vh - 100px);
    background-color: yellow;
}

main::after {
    display: table;
    content:'';
    clear: both;
}

.col-sn {
    width: 50px;
    height: 100%;
    min-height: 480px;
    background-color:black;
}

.nav-top {
    height: calc(100% - 90px);
}

.logo {
    margin-bottom: 15px;
}

.logo #logo-small {
    height: 45px;
    margin: 0 auto;
    display: block;
    padding-top: 5px;
    cursor: pointer;
}

.logo #logo-standard {
    display: none;
}

.nav-main{
    padding-left: 5px;
}

.nav-main img {
    height: 35px;
    margin: 0 4px;
    cursor: pointer;
}

#grey {
    filter: invert(0.3);
}

.nav-main span,
.nav-bottom span{
    display: none;
    color: #6e6e6e;
}

#white {
    color: white;
    font-weight: bold;

}

.nav-playlist {
    display: none;
}

.nav-bottom {
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 5px;
}

.nav-bottom .download {
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.nav-bottom hr{
    display: none;
}

.nav-bottom .profile {
    height: 30px;
    margin: 0 4px;
    background-color: #808080;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    margin-right: 10px;

}

.col-dx {
    width: calc(100% - 50px);
    height: 100%;
    background-color: grey;
    overflow-y: auto;
}

.call-to-action { 
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 50px);
    height: 90px;
    line-height: 90px;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
    text-align: right;
}

.button-up{
    color: white;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 2em;
    padding: 10px 30px;
    margin-right: 5px;
    cursor: pointer;
}




/* footer */
footer {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(44, 44, 44);
    position: fixed;
    z-index: 1;
}

footer .player-left {
    width: 25%;
    height: 100%;
    padding: 4px;
    display: flex;
    align-items: center;
    color: #6e6e6e;
}

.player-left .album img{
    height: 35px;

}

.player-left .titolo{
    margin: 0 7px;
}

.titolo span{
    font-size: 13px;
}

.canzone-title{
    display: block;
    font-size: 15px;
    color: white;
}

.icon-footer i{
    font-size: 12px;
}

footer .player-center {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

.player-center .player{
    width: 100%;
    height: 50%;
    background-color: crimson;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#play {
    font-size: 30px;   
}

.player-center .barra-minuti{
    width: 100%;
    height: 50%;
    font-size: 13px;
    background-color: darkmagenta;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-center .barra-scorrimento{
    width: 65%;
    height: 5px;
    background-color: black;
    border-radius: 2em;
}

footer .player-right {
    width: 25%;
    height: 100%;
}

/* debug */

.debug .col-dx p {
    line-height: 30px;
    margin-top: 90px;
    padding: 20px;
}

.debug .nav-top {
    background-color: magenta;
}

.debug .nav-bottom {
    background-color: yellow
}

.debug .player-left{
    background-color: indigo;
}

.debug .player-center{
    background-color:rgb(192, 7, 93) ;
}

.debug .player-right {
    background-color: rgb(180, 5, 157);
}


/* media query */
@media screen and (min-width: 490px){
    .col-sn {
        width: 210px;
        height: calc(100vh - 100px)
    }

    .nav-top {
        overflow: hidden;
    }

    .logo {
        text-align: center;
    }

    .logo #logo-small {
        display: none;
    }

    .logo #logo-standard  {
        display: inline-block;
        height: 50px;
        margin-top: 15px;
    }

    .nav-main span,
    .nav-bottom span {
        display: inline;
    }

    .nav-main .nav-icon {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .nav-playlist {
        display: block;
        margin-left: 10px;
        height: 100%;
        overflow: hidden;
    }

    .nav-playlist h4{
        text-transform: uppercase;
        color: white;
    }

    .newplaylist{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .newplaylist span{
        color: #6e6e6e;
    }

    .plus{
        width: 35px;
        height: 35px;
        background-color: #a3a3a3;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
        cursor: pointer;
    }

    .nav-playlist ul{
        list-style: none;
        height: 80%;
        overflow-y: auto;
    }

    .nav-playlist ul li{
        margin-top: 15px;

    }

    .nav-playlist ul li a{
        text-decoration: none;
        color: #6e6e6e;
    }


    .nav-bottom{
        display: block;
    }

    .nav-bottom .nav-icon {
        display: flex;
        align-items: center;
        margin-left: 5px;
        cursor: pointer;
    }

    .nav-bottom hr{
        display: block;
        border: 1px solid #6e6e6e;
        width: 90%;
        margin: 5px auto;
    }

    
    .col-dx {
        width: calc(100% - 210px);
    }

    .call-to-action {
        width: calc(100% - 210px);
    }


}